{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTugTTag</title>
    <!-- for page icon -->
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/small/64/000000/fire-heart.png"/>
    <!-- for google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- for alpinejs -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <!-- for htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <!-- for hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <!-- for tailwindcss -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %} {% else %}{% static 'css/style.min.css' %}{% endif %}">
    
</head>
<!-- <body class="bg-gray-100"> -->
<body class="bg-pink-500">
<!-- <body class="bg-teal-500"> -->

{% include 'includes/messages.html' %}
    
{% include 'includes/header.html' %}

{% block layout %}
{% endblock %}
    
</body>
</html>